@import url('@assets/webkit/scrollbar.css');
@import url('@assets/chillax.css');

* {
  font-family: 'Chillax-Variable', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.❤ {
  color: red;
}
