@import url('@assets/webkit/scrollbar.css');
@import url('@assets/chillax.css');

* {
  font-family: 'Chillax-Variable', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
}

.❤ {
  color: red;
}

.code {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
  background-color: rgb(var(--mdui-color-on-tertiary));
  overflow-x: auto;
  transform: translateX(-1rem);
  border-radius: 5px;
}

.center-flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
